@import "tailwindcss";

@font-face {
  font-family: 'MADE Outer Sans';
  src: url('./assets/fonts/MADEOuterSans-Bold.woff2') format('woff2'),
      url('./assets/fonts/MADEOuterSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  background: black;
  font-family: 'MADE Outer Sans', sans-serif;
  color: white;
}